{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sistem  App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'pariwisata/font-awesome/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'pariwisata/app.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">pariwisata App</a>
    </nav>

    <div class="container cs-content">
    
    {% block content  %}

    <div class="row cs-section-header">
        <div class="col-lg-12"><h2>Wisata List</h2></div>
    </div>

    <div class="row cs-form-add">
      {% include 'pariwisata/pariwisata_form.html' %}
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Wisata</th>
                <th scope="col">Jenis Wisata</th>
                <th scope="col">Biaya Masuk</th>
                <th scope="col">Harga Makanan Minimal</th>
                <th scope="col">Harga Penginapan Minimal</th>
                <th scope="col">Biaya Transport dari Bandara</th>
                <th scope="col">Jarak Dari Bandara</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for pariwisata in pariwisatas %}
            <tr>
                    <td>{{ pariwisata.id }}</td>
                <td>{{ pariwisata.nama_wisata }}</td>
                <td>{{ pariwisata.jenis_wisata }}</td>
                <td>{{ pariwisata.biaya_masuk }}</td>
                <td>{{ pariwisata.min_harga_makanan }}</td>
                <td>{{ pariwisata.min_harga_penginapan }}</td>
                <td>{{ pariwisata.biaya_transport }}</td>
                <td>{{ pariwisata.jarak_dari_bandara }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="edit/{{ pariwisata.id }}">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-outline-danger" onclick="sendData({{ pariwisata.id }})" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% if not pariwisatas %}
              <tr>
                <td colspan="6" class="cs-text-center cs-empty-table"> There is no pariwisata yet. Please add a pariwisata ! </td>
              </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure want to Delete this pariwisata ?</p>
            </div>
            <div class="modal-footer">
              <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
              <a class="btn btn-danger" id="btn-delete" href="">Delete</a>
            </div>
          </div>
        </div>
    </div>

    {% endblock  %} 

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'pariwisata/app.js' %}"></script>
  </body>
</html>